<%- include('partials/header.ejs'); -%>

<h1 class="homeTitle"><%= day %></h1>

<br>

<div>
    <% posts.forEach((post) => { %>
        <div class="post">
            <h2 class="postTitle"><%= post.title %></h2>
            <p class="postBody">
                <%= post.body.substring(0, 100) %>...
                <a href="/posts/<%= post._id %>">Read More</a>          
            </p>
        </div>
    <% }) %>   
</div>

<%- include('partials/footer.ejs'); -%>